# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Checkov / scan output
checkov-report.*
results/
reports/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python packaging
*.egg-info/
dist/
build/
cloudsim/target/